@{
 ViewBag.Title = "Carlos Mac Beath Code test";
}
<div class="jumbotron">
    <div class="bs-component">
        <h2>Code Test : Carlos Mac Beath </h2>
        <p class="text-muted">
            Please implement a function that checks whether a positive number is a palindrome or not. For
            example:
        </p>
        <p class="text-info">"121 is a palindrome, but 123 is not.."</p>
    </div>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Home/Exercise6" role="button">Go to Exercise 6</a>
    </p>
</div>
@*<div class="row">
  <div class="col-md-6">
        <h2>Exercise 6</h2>
        <p>Please implement a function that checks whether a positive number is a palindrome or not. For
            example, 121 is a palindrome, but 123 is not.
        </p>
        <p>
          <a class="btn btn-default" href="~/Home/Exercise6">Solutions &raquo;</a>
        </p>
    </div>
</div>*@